include LICENSE CHANGELOG.md README.md requirements.txt
exclude launchers
exclude guapow.egg-info
exclude .pytest_cache
exclude py_dist.sh
recursive-include guapow/dist *
recursive-exclude guapow/dist *.orig
recursive-exclude venv *
recursive-exclude .venv *
